@CHARSET "UTF-8";

.header {
	position: fixed;
	width: 100%;
	height: 120px;
	background: #24313A;
	left: 0;
	top: 0;
	z-index: 9999;
}

.header-left {
	height: 120px;
	line-height: 120px;
	margin-left: 20px;
}

.header-left-title-container {
	float: left;
	margin-top: 45px;
	margin-left: 20px;
}

.title-company {
	color: #8A8F95;
	line-height: normal;
	font-size: 12px;
}

.title-project-name {
	color: #F2F1EF;
	line-height: normal;
	font-size: 20px;
}

.header-right-container {
	float: right;
}
.header-right-container > img {
	margin-right: 20px;
	padding-top: 25px;
}
.header-right-container > img:hover {
	cursor: pointer;
}